[submodule "vimsetting/vim/bundle/youcompleteme"]
	path = vimsetting/vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "vimsetting/vim/bundle/tcomment_vim"]
	path = vimsetting/vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
